<!--<div class="container">-->
<!--  <h3>{{value}}</h3>-->
<!--  <input type="text" [(ngModel)]="email">{{email}}-->
<!--<div>-->
<!--  Basic Pipe: Current Date is {{currdate | date:'fullDate'}}-->
<!--</div>-->
<!--  <div>-->
<!--    Custom Pipe:{{ 123 | flatter}}-->
<!--  </div>-->
<!--  <h4>-->



<!--<input type = "text" aria-describedby="readdynamic">-->
<!--    <span colorchange="color">This is for people with diabilities.</span>-->
<!--&lt;!&ndash;    <app-internal [emailData]="'abc@gmail.com'" (tableId)="setVal($event)" [Phone]="7865443"></app-internal>&ndash;&gt;-->
<!--&lt;!&ndash;  </h4>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="container-fluid">-->
<!--  <h2 style="color: bisque">-->
<!--    Welcome to the One Stop Store-->
<!--  </h2>-->
  <a [routerLink]="['internal/678']">Navigate</a>
<!--  <button type="button" (click)="adjust()">Subject</button>-->
<!--</div>-->
<!--<div>-->
<!--  <span>Adjusting the async pipe with value {{asytest |async}}</span>-->
<!--</div>-->





<router-outlet>
</router-outlet>
<!--  <app-internal [emailData]="'abc@gmail.com'" (tableId)="setVal($event)" [Phone]="7865443"></app-internal>-->



